<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="/public/css/IndexStyle.css"  rel='stylesheet' type='text/css' />
    <title>修改邮箱</title>
    <style>
        input::-webkit-input-placeholder{
            color: #cac6cd;
        }
    </style>
</head>
<body>

<div align="center" class="col-md-8 safeOutDiv" >
    <div class="col-md-2" style="text-align: right;padding:0;">
        <span >登录密码：</span><br/>
        <span >新邮箱地址：</span><br/>
        <span >验证码：</span>
    </div>
    <div class="col-md-5" style="text-align: left" >
        <form style="justify-content: left;">
            <input placeholder="用于验证身份"  name="emailpwd" class="form-control-x">
            <input placeholder="有效邮箱地址" name="emailaddress" class="form-control-x">
            <div>
                <input placeholder="6位数字" style="width: 246px;" name="emailvc" class="form-control-x">
                <input type="button" class="btn" style="margin-bottom: 4px;height:40px;background-color: orange;color: white;" value="发送">
            </div>
            <input class="form-control-s safeBtn" type="submit" value="完成">
        </form>
    </div>
</div>
</body>
</html>