@font-face {
  font-family: 'iconfont';  /* project id 1084281 */
  src: url('//at.alicdn.com/t/font_1084281_82821frln5k.eot');
  src: url('//at.alicdn.com/t/font_1084281_82821frln5k.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1084281_82821frln5k.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1084281_82821frln5k.woff') format('woff'),
  url('//at.alicdn.com/t/font_1084281_82821frln5k.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1084281_82821frln5k.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar:before {
  content: "\e60f";
}

.icon-alarm:before {
  content: "\e601";
}

.icon-computer:before {
  content: "\e600";
}

.icon-hanger:before {
  content: "\e624";
}

.icon-sofa:before {
  content: "\e63a";
}

.icon-slippers:before {
  content: "\e62b";
}

.icon-wifi:before {
  content: "\e650";
}

.icon-desk:before {
  content: "\e6cd";
}

.icon-wardrobe:before {
  content: "\e6ef";
}

.icon-telephone:before {
  content: "\e65b";
}

.icon-dining:before {
  content: "\e615";
}

.icon-coffee:before {
  content: "\e7d1";
}

.icon-bath:before {
  content: "\e672";
}

.icon-aircondition:before {
  content: "\e60d";
}

.icon-safe:before {
  content: "\e688";
}

.icon-smoke:before {
  content: "\e60e";
}

.icon-deaden:before {
  content: "\e605";
}

.icon-television:before {
  content: "\e610";
}

.icon-iron:before {
  content: "\ef42";
}

.icon-fridge:before {
  content: "\e787";
}

.icon-shampoo:before {
  content: "\e8a2";
}

.icon-hairdryer:before {
  content: "\e8ad";
}

.icon-water:before {
  content: "\e62e";
}

.icon-heating:before {
  content: "\e608";
}

.icon-towel:before {
  content: "\ea78";
}

.icon-bathrobe:before {
  content: "\e606";
}

.icon-mirror:before {
  content: "\e603";
}
.icon-singal-bed:before {
  content: "\e821";
}
.icon-double-bed:before {
  content: "\e823";
}
.icon-baby-bed:before {
  content: "\e641";
}

