.border {
    border-top: 1px solid gray;
}
.border:last-child {
    border-bottom: 1px solid gray;
}
.roomName {
    font-size: 30px;
}
.price {
    font-size: 30px;
    color: red;
}
.price-item-flex{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.item-all{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 290px;
}
.items-group {
    width: 50%;
}
.items-group-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    width: 50%;
    display: inline-block;
}
.item-text {
    color: dimgray;
    font-size: 12px;
}
.item .icon {
    color: gray;
    font-size: 14px;
}
.items-group-header {
    display:block;
    padding: 5px 0px;
}
.orderMethod {
    display: flex;
    flex-direction: column;
}