<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=
PFgBspYSe1HEwdM7pd8z0jEA1gG1pYG5"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/public/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/public/css/jquery-ui.small.css" />
    <script src="/public/js/jquery-ui.js"></script>
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <style>
        .tab-chapter{
            width: 800px;
        }
        .hotelAttr{
            font-size: 16px;
            color: gray;
        }
        #allmap{
            float:left; width:100%; height:100%;
        }
        .sidebar-head {
            font-family: Tahoma,Simsun,sans-serif;
            font-size: 16px;
            color: #1a2226;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 0px;
        }
        .input-group {
            margin: 5px 0px;
        }
        .tableItem {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        .hotelName {
            font-size: 18px;
            font-weight:bold;
        }
        a:hover {text-decoration:underline;}

    </style>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body style="width: 100%;height: 100%;display: flex;flex-direction: column">
    <script th:inline="javascript">
        var hotel = [[${hotels}]];
        console.info(hotel);
    </script>
    <!--查询头部-->
    <div style="width: 100%;background:#F8F8F8;">
        <div class="col-md-10 dropdown-buttons">
            <div class="col-md-3 dropdown-button">
                <div class="input-group">
                    <input  autocomplete="off" class="form-control has-dark-background"
                           name="hotelname" id="hotelname" placeholder="酒店名称：" type="text"
                            style="border: 1px solid #ccc;border-radius: 5px"
                    >
                </div>
            </div>
            <div class="col-md-3 dropdown-button" >
                <div class="input-group">
                    <input autocomplete="off" class="form-control has-dark-background"
                           id="minPrice" name="minPrice" type="text" placeholder="最低价格："
                           style="border: 1px solid #ccc;border-radius: 5px">
                </div>
            </div>
            <div class="col-md-3 dropdown-button">
                <div class="input-group">
                    <input  autocomplete="off" class="form-control has-dark-background"
                           id="city" name="city" type="text" placeholder="城市："
                            style="border: 1px solid #ccc;border-radius: 5px">
                </div>
            </div>
            <div class="col-md-3 dropdown-button" >
                <div class="input-group">
                    <select id="starlevel" name="starlevel"  class="frm-field required"
                            style="border: 1px solid #ccc;border-radius: 5px">
                        <option value="6">全部</option>
                        <option value="5">5星</option>
                        <option value="4">4星</option>
                        <option value="3">3星</option>
                        <option value="2">2星</option>
                        <option value="1">1星</option>
                        <option value="0">无星级</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-2 submit_button" style="height:100%;display: flex;flex-direction: row;align-items: center">
            <button style="background-color: #6568ff;color: #fff;border:1px solid #6568ff;border-radius: 5px" value="查询" onclick="theLocation()">查询</button>
        </div>
    </div>
    <!--地图与滚动栏整体-->
    <div style="width: 100%;flex:1">
        <div style=" width:100%;height:100%;display: flex;flex-direction: row;align-content: center">
            <!--地图-->
            <div style="flex:10">
                <div id="allmap" ></div>
            </div>
            <!--滚动栏-->
            <div style="flex:3;display: flex;flex-direction: column;">
                <div class="sidebar-head">
                    <span style="color: #1a2226;">查询到酒店<span id="hotelNumber"></span>个</span>
                </div>
                <div style="flex:1px;overflow: auto">
                    <table id="hotelTable" class="table-hover"  align="center"></table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" >
    // 百度地图API功能
    var MapData = null;
    var map = new BMap.Map("allmap");
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
    var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
    var data = hotel;
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);
    if(data.length!=0) {
        map.centerAndZoom(new BMap.Point(data[0].hotelLongitude,data[0].hotelLatitude),11);
    }else{
        map.centerAndZoom(new BMap.Point(116.331398,39.897445),11);
    }

    map.enableScrollWheelZoom(true);

    map.clearOverlays();
    var opts = {
        width : 250,     // 信息窗口宽度
        height: 200,     // 信息窗口高度
        title : "酒店信息" , // 信息窗口标题
        enableMessage:true,//设置允许信息窗发送短息
    }
    for( let i = 0 ; i < data.length ; i ++ ) {
        var new_point = new BMap.Point( data[i].hotelLongitude,
            data[i].hotelLatitude);
        var marker = new BMap.Marker(new_point);  // 创建标注
        var content = "酒店名："+ data[i].hotelChineseName + "<br>地址：" +data[i].hotelAddress
            +"<br>描述:" +data[i].hotelProfile;
        map.addOverlay(marker);              // 将标注添加到地图中

        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        marker.addEventListener("click",
            function(e){
                var p = e.target;
                var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象
                map.openInfoWindow(infoWindow,point); //开启信息窗口

            });
    }

    var hotelTab = $("#hotelTable");
    hotelTab.empty();
    var htmlString = "";
    for( let i = 0 ; i < data.length ; i ++ ) {
        htmlString +=
            "<tr>"
            +"<td class='tab-chapter' style='padding-left: 10px;padding-right: 10px'>"
            +"<div class='tableItem'>"
            +"<a href=\'/welcome/details?hotelId="+data[i].hotelId+"\' class='hotelName' style='color: #6568ff;'>"+data[i].hotelChineseName+"</a><br/>"
            +"<span class='hotelAttr'>地址：</span><span class='hotelAttr' "
            +">"+data[i].hotelAddress+"</span><br/>"
            +"<span class='hotelAttr'>星级：</span><span class='hotelAttr'>";
        for( let j = 0 ; j < data[i].hotelStars ; j ++ ) {
            htmlString+="<img src='/public/images/star.png' style='height: 20px; width: 20px;'>";
        }
        htmlString += "</span><br/>"
            +"<span class='hotelAttr'>联系方式：</span><span class='hotelAttr' >"+data[i].hotelContact+"</span><br/>"
            +"</div> </td> </tr>";

    }
    hotelTab.append(htmlString);
    $("#hotelNumber").html(data.length);
    function theLocation(){
        Url="/searchmap/map.json?"
            +"hotelname="+$("#hotelname").val()
            +"&&minPrice="+$("#minPrice").val()
            +"&&city="+$("#city").val()
            +"&&starlevel="+$("#starlevel").val();
        $.ajax({
            url:Url,
            type:"post",
            success:function(data) {
                console.info(data);
                MapData = data;
                map.clearOverlays();
                var opts = {
                    width : 250,     // 信息窗口宽度
                    height: 200,     // 信息窗口高度
                    title : "酒店信息" , // 信息窗口标题
                    enableMessage:true,//设置允许信息窗发送短息
                }
                for( let i = 0 ; i < data.length ; i ++ ) {
                    var new_point = new BMap.Point( data[i].hotelLongitude,
                        data[i].hotelLatitude);
                    var marker = new BMap.Marker(new_point);  // 创建标注
                    var content = "酒店名："+ data[i].hotelChineseName + "<br>地址：" +data[i].hotelAddress
                        +"<br>描述:" +data[i].hotelProfile;
                    map.addOverlay(marker);              // 将标注添加到地图中

                    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                    marker.addEventListener("click",
                        function(e){
                            var p = e.target;
                            var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                            var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象
                            map.openInfoWindow(infoWindow,point); //开启信息窗口

                        });
                }

                var hotelTab = $("#hotelTable");
                hotelTab.empty();
                var htmlString = "";
                for( let i = 0 ; i < data.length ; i ++ ) {
                    htmlString +=
                        "<tr>"
                        +"<td class='tab-chapter' style='padding-left: 10px;padding-right: 10px'>"
                        +"<div class='tableItem'>"
                        +"<a href=\'/welcome/details?hotelId="+data[i].hotelId+"\' class='hotelName' style='color: #6568ff;'>"+data[i].hotelChineseName+"</a><br/>"
                        +"<span class='hotelAttr'>地址：</span><span class='hotelAttr' "
                        +">"+data[i].hotelAddress+"</span><br/>"
                        +"<span class='hotelAttr'>星级：</span><span class='hotelAttr'>";
                    for( let j = 0 ; j < data[i].hotelStars ; j ++ ) {
                        htmlString+="<img src='/public/images/star.png' style='height: 20px; width: 20px;'>";
                    }
                    htmlString += "</span><br/>"
                        +"<span class='hotelAttr'>联系方式：</span><span class='hotelAttr' >"+data[i].hotelContact+"</span><br/>"
                        +"</div> </td> </tr>";

                }
                hotelTab.append(htmlString);
                $("#hotelNumber").html(data.length);
            }
        })
    }
</script>
