<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        #allmap{width:100%;height:500px;}
        p{margin-left:5px; font-size:14px;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=
                PFgBspYSe1HEwdM7pd8z0jEA1gG1pYG5"></script>
    <title>周边搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/public/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <style>
        #allmap{
            width:100%;
            height:600px;
        }
        .bot{
            position: fixed;
            z-index: 99;
            top: 0px;
            right:10%;
            display: flex;
            flex-direction: row;
        }
    </style>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div id="allmap"></div>
        <div id="r-result" class="bot">
            <input id="uservalue" type="text" placeholder="周边搜索" style="background-color: lightblue"/>
            <input type="button" value="查询" onclick="thecircle()" />
        </div>
    </div>
</body>
</html>
<script type="text/javascript" th:inline="javascript">
    // 百度地图API功能

    var map = new BMap.Map("allmap");            // 创建Map实例
    var Point = new BMap.Point([[${hotelLongitude}]],[[${hotelLatitude}]]);

    map.enableScrollWheelZoom();
    map.centerAndZoom(Point,15);               //修改参数
    var marker = new BMap.Marker(Point);  // 创建标注
    map.addOverlay(marker);               // 将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    var circle = new BMap.Circle(Point,2000,{fillColor:"blue",
        strokeWeight: 1 ,fillOpacity: 0.3, strokeOpacity: 0.3});
    map.addOverlay(circle);
    function thecircle(){
        var local =  new BMap.LocalSearch(map, {renderOptions: {map: map, autoViewport: false}});
        local.searchNearby(document.getElementById("uservalue").value, Point,2000);//参数为酒店，电影院，
    }

</script>