<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        #allmap{width:100%;height:500px;}
        p{margin-left:5px; font-size:14px;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=
                PFgBspYSe1HEwdM7pd8z0jEA1gG1pYG5"></script>
    <title>周边2Km</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/public/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <style>
        .tab-chapter{
            width: 800px;
        }
        .largetext{
            font-size: 20px;
            color: #a1a1a1;
        }
    </style>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="allmap"></div>
    <div id="r-result">
            查询内容: <input id="uservalue" type="text" style="width:100px; margin-right:10px;" />
            <input type="button" value="查询" onclick="thecircle()" />
        </div>
    <div class="footer">
    <div class="container">
        <div class="col-md-2 deco">
            <h4>Navigation</h4>
            <li><a href="welcome">首页</a></li>
            <li><a href="shortcodes.html">暂定</a></li>
            <li><a href="/register/">注册</a></li>
            <li><a href="contact.html">暂定</a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Links</h4>
            <li><a href="#">Qui Sommes-Nous ?</a></li>
            <li><a href="#">Mentions Légales </a></li>
            <li><a href="#">Conditions D'Utilisation </a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Social</h4>
            <div class="soci">
                <li><a href="#"><i class="f-1"> </i></a></li>
                <li><a href="#"><i class="t-1"> </i></a></li>
                <li><a href="#"><i class="g-1"> </i></a></li>
            </div>
        </div>
        <div class="col-md-3 cardss">
            <h4>Payment Sécure</h4>
            <li><i class="visa"></i></li>
            <li><i class="ma"></i></li>
            <li><i class="paypal"></i></li>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 pos">
            <h4>NewsLetter</h4>
            <form method="post">
                <input type="text" class="textbox" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
                <div class="smt">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");            // 创建Map实例
    var mPoint = new BMap.Point(116.404, 39.915);
    //var uservalues = document.getElementById("uservalue").value;
    map.enableScrollWheelZoom();
    map.centerAndZoom(mPoint,15);               //修改参数
    var circle = new BMap.Circle(mPoint,2000,{fillColor:"blue",
        strokeWeight: 1 ,fillOpacity: 0.3, strokeOpacity: 0.3});
    map.addOverlay(circle);
    function thecircle(){

        var local =  new BMap.LocalSearch(map, {renderOptions: {map: map, autoViewport: false}});
        local.searchNearby(document.getElementById("uservalue").value, mPoint,2000);//参数为酒店，电影院，
    }

</script>