<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/public/css/style.css" rel='stylesheet' type='text/css' />
<link href="/public/font/iconfont.css" rel='stylesheet' type='text/css'/>
<link href="/detail/detail.css"  rel='stylesheet'/>
<script src="/public/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>

<body>
<!-- banner -->
	<div class="banner1">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">Motel</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/welcome/">首页</a></li>
								<li><a href="rooms.html">待定</a></li>
								<li><a href="offers.html">待定</a></li>
								<li><a href="shortcodes.html">待定</a></li>
								<li><a href="/login/">登录</a></li>
								<li><a href="contact.html">待定</a></li>
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="/public/js/classie.js"></script>
					<script src="/public/js/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

			</div>
		</div>
	</div>		
		<!-- banner -->
<!-- details -->
	<!--<div class="details">-->
<div class="details">
		<div class="container" th:each="roomDetail:${roomDetailList}" >
			<div style="margin-top: 10px;margin-bottom: 10px">
				<div class="col-md-5 details-left">
					<img th:src="${roomDetail.room.photo}" class="img-responsive" alt="">
				</div>
				<div class="col-md-7 details-right">
					<span>
						<strong th:text="${roomDetail.room.chineseName}"></strong>
						每人￥
						<Strong th:text="${roomDetail.room.price}"/></Strong>
					</span>
                    <div class="item-all" >
                        <div class="items-group" th:each="roomItemGroup:${roomDetail.roomItemContent.roomItemGroupList}">
                            <div class="items-group-header" th:text="${roomItemGroup.header}"></div>
                            <div class="items-group-content">
                                <div class="item" th:each="roomItem:${roomItemGroup.roomItemList}">
                                    <span th:class="|icon iconfont ${roomItem.icon}|" ></span>
                                    <span class="item-text" th:text="${roomItem.text}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	<!--</div>-->
</div>
<!-- details -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-2 deco">
				<h4>Navigation</h4>
				<li><a href="/welcome/">Home</a></li>
				<li><a href="shortcodes.html">Short Codes </a></li>
				<li><a href="/login/">Sign in</a></li>
				<li><a href="contact.html">Contact</a></li>
			</div>
			<div class="col-md-2 deco">
				<h4>Links</h4> 
				<li><a href="#">Qui Sommes-Nous ?</a></li>
				<li><a href="#">Mentions Légales </a></li>
				<li><a href="#">Conditions D'Utilisation </a></li>
			</div>
			<div class="col-md-2 deco">
				<h4>Social</h4>
				<div class="soci">
					<li><a href="#"><i class="f-1"> </i></a></li>
					<li><a href="#"><i class="t-1"> </i></a></li>
					<li><a href="#"><i class="g-1"> </i></a></li>
				</div>
			</div>
			<div class="col-md-3 cardss">
				<h4>Payment Sécure</h4>
				<li><i class="visa"></i></li>
				<li><i class="ma"></i></li>
				<li><i class="paypal"></i></li>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 pos">
			<h4>NewsLetter</h4>
					   <form method="post">
						 <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						 <div class="smt">
							<input type="submit" value="Subscribe">
						 </div>
					   </form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">
			<div class="container">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
</p>
			</div>
		</div>
	<!-- footer -->
<script th:inline="javascript">
	var roomNo = [[${roomList}]];
</script>
<script src="/detail/detail.js"></script>
</body>
</html>