<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
	<title>首页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="/public/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/public/css/IndexStyle.css"  rel='stylesheet' type='text/css' />
	<script src="/public/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=
    PFgBspYSe1HEwdM7pd8z0jEA1gG1pYG5"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script src="/index/index.js"></script>
	<script src="/public/js/map.js"></script>
	<style>
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		.hotelTable{
		}
		.largetext{
			font-size: 16px;
			color: #a1a1a1;
		}
		.body {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		.tab-chapter{
			width: 800px;
		}
		.largetext{
			font-size: 16px;
			color: #a1a1a1;
		}
		#allmap{
			width:100%; height:100%;bottom: 0px;
		}
		.marker {
			background:url(/public/images/marker.png) no-repeat;
			height:43px;
			width:33px;
			color:#fff;
            font-size: 16px;
            text-align: center;
            line-height: 32px;
            font-weight: bold;
		}
        .hotelMarker {
            display: inline-block;
            width: 20px;
            height: 23px;
            background: url(/public/images/marker.png) no-repeat 0 -363px;
            font-family: tahoma;
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            line-height: 20px;
            text-align: center;
            vertical-align: 2px;
        }
        .hotelMarker:hover {
            display: inline-block;
            width: 20px;
            height: 23px;
            background: url(/public/images/marker.png) no-repeat 0 -387px;
            font-family: tahoma;
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            line-height: 20px;
            text-align: center;
            vertical-align: 2px;
        }
        .hotelName {
            font-size: 20px;
            font-weight: bold;
            color: #6568ff;
        }
		li{list-style: none;}
	</style>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body class="body">
<!-- banner -->
<div class="" >
	<div class="header" style="max-height: 90px;background-color: #6568ff;">
		<div class="container" style="display: flex;flex-direction: row;justify-content: center;min-width: 1200px;">
			<div class="logo" >
				<h1><a href="/welcome/">Hotel</a></h1>
			</div>
			<nav class="navbar navbar-default" role="navigation"  style="max-width: 600px;max-height: 66px">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #6568ff;">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/welcome/">首页</a></li>
						<li><a href="/searchmap/">待定</a></li>
						<li><a href="/myorder/">订单查询</a></li>
						<li><a href="shortcodes.html">待定</a></li>
					</ul>
				</div>
				<!--/.navbar-collapse-->
			</nav>
			<div class="clearfix"> </div>
			<div class="infoList" >
				<!-- User Account: style can be found in dropdown.less -->
				<li th:if="${userInfo.size()!=0}" class="dropdown user user-menu" onclick ="showInfoCard()">
					<a  class="dropdown-toggle" data-toggle="dropdown">
						<img th:src="${userInfo.get(0).icon}" class="user-image img-circle" onerror="javascript:this.src='/public/images/defaulticon.png';" style="height: 50px;width: 50px;">
						<span class="hidden-xs" style="color: #fff" th:text="${userInfo.get(0).nickName}"></span>
					</a>
				</li>
				<li th:if="${userInfo.size()==0}">
					<a href="/login/">
						<span class="hidden-xs" style="color: lightgreen;">请登录</span>
					</a>
				</li>
			</div>

		</div>

	</div>
	<div th:if="${userInfo.size()!=0}" id="hide" style="display: none;position: absolute;z-index: 100;margin-left: 72%;
    background-color: #fff;width: 200px;height:286px;">
		<div align="center">
			<div>
		<img th:src="${userInfo.get(0).icon}" class="user-image img-circle" onerror="javascript:this.src='/public/images/defaulticon.png';" style="height: 100px;width: 100px;">
		<p style="margin-top: 10px;font-size: 16px;" th:text="${userInfo.get(0).nickName}"></p>
			</div>
			<div style="margin-top:20px;line-height: 40px;font-size: 16px;border-top: 2px solid #ccc;">
				<a href="/userinfo/">个人中心</a>
			</div>
			<div style="line-height: 40px;font-size: 16px;border-top: 2px solid #ccc;">
				<a href="/myorder/">我的订单</a>
			</div>
			<div style="line-height: 40px;font-size: 16px;border-top: 2px solid #ccc;">
				<a href="/login/logout">退出</a>
			</div>
		</div>
	</div>
</div>
	<div id="searchBar" style="display:flex;flex-direction:row;justify-content:
	center;background-color: #F8F8F8;min-height:60px;width: 100%;">
		<form action="/welcome/" style="margin-top: 10px;" method="post">
			<div class="orderSearch">
				<span>酒店名称：<input  autocomplete="off" value="" class="form-control-s" name="hotelname"></span>
			</div>
			<div class=" orderSearch">
					<span>城市：<input autocomplete="off" value="" class="form-control-s" name="city"></span>
			</div>
			<div class=" orderSearch">
				<span>价位：
					<select name = "minPrice" class="form-control-s" style="width: 50%;">
						<option value="7">全部</option>
						<option value="1">100以下</option>
						<option value="2">100-200</option>
						<option value="3">200-300</option>
						<option value="4">300-500</option>
						<option value="5">500-1000</option>
						<option value="6">1000以上</option>
					</select>
				</span>
			</div>
			<div class="orderSearch">
        	<span>星级：
        	<select name="starlevel" class="form-control-s" style="width: 50%;">
				<option value="6">全部</option>
           	 	<option value="5">5星</option>
           		<option value="4">4星</option>
          	 	<option value="3">3星</option>
          	 	<option value="2">2星</option>
				<option value="1">1星</option>
				<option value="0">无星级</option>
       		 </select>
        	</span>
			</div>
			<div class="orderSearch">
				<input  type="submit" style=" border:none;background-color:#6568ff;color:#fff;height:38px; width: 80px;border-radius: 4px;" value="查询">
			</div>
		</form>
		<div style="position: relative"></div>
	</div>
<!--body-->
<div style="width:100%;flex: 1">
	<div style="display: flex;flex-direction: row">
		<div class="col-md-1 " style="background-color: white;padding:0;"></div>
		<div  class="hotelTable col-md-7" style="padding:0;padding-right: 10px;">
			<div align="center" th:if="${hotels.size()} == 0"><img style="max-width: 100%" src="/public/images/nohotel.png"></div>
			<div class="hotelItem" th:each="hotel : ${hotels}" style="display:flex; flex-direction:row;flex-wrap:wrap;padding-bottom:25px;padding-top:25px;border-bottom: 1px solid #ccc;">
				<div>
					<img th:src="${hotel.picture}" class="img-responsive" style="width: 300px;height:200px;margin-right: 50px;" alt="">
				</div>
				<div style="width: 300px;">
                    <a th:href="@{/welcome/details(hotelId=${hotel.hotelId})}" th:onmouseover="|turnClickable(${hotelStat.index})|" th:onmouseout="|turnUnClickable(${hotelStat.index})|" style="width: fit-content;display: block">
                        <span class="hotelMarker" th:text="${hotelStat.index+1}"></span>
                        <span th:text="${hotel.hotelChineseName}" class="hotelName"></span>
                    </a>
					<span class="largetext">地址：</span><span class="largetext" th:text="${hotel.hotelAddress}"></span><br/>
					<span class="largetext">星级：</span><span class="largetext" th:each="i:${#numbers.sequence(1,hotel.hotelStars)}"><img src="/public/images/star.png" style="height: 20px; width: 20px;"></span><br/>
					<span class="largetext">联系方式：</span><span class="largetext" th:text="${hotel.hotelContact}"></span><br/>
					<br/><a class="hvr-shutter-in-horizontal" th:href="|/welcome/details?hotelId=${hotel.hotelId}|">预订</a>
				</div>
			</div>
		</div>
		<div class="col-md-3" style="padding:0" >
			<div id="map" style="height: 300px;left: 66.666666%;min-width:200px">
				<div style="width: 100%; height: 10%;display: flex;flex-direction: row;">
					<div style="width: 20%;height: 100%;text-align: center">
						<a th:href="${bigmapUrl}"><button style="font-size: 12px;color:#337ab7">查看大图</button></a>
					</div>
					<div style="width: 60%;padding-left: 30%;display: flex;flex-direction: row;align-items: center">
						<input id="mapFollower" checked="true" style="margin: 0" type="checkbox" onclick="mapFollow(this)">
						<span style="font-size: 14px;color: black"  >跟随浮动</span>
					</div>
					<div style="width: 20%;height: 100%;text-align: center">
						<button style="font-size: 12px;color:#337ab7"
								onclick="showOrHideMap()" id="allmapButton">收起地图</button>
					</div>
				</div>
				<div  style="width: 100%; top: 10%; height: 90% ;bottom: 0;">
					<div id="allmap" ></div>
				</div>
			</div>
		</div>
		<div class="col-md-1" style="padding:0"></div>
	</div>
</div>
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-2 deco" style="width:20%;">
			<h4>导航</h4>
			<li><a href="/welcome/">首页</a></li>
			<li><a href="/register/">注册</a></li>
			<li><a href="/myorder/">订单查询</a></li>
			<li><a href="contact.html">待定</a></li>
		</div>
		<div class="col-md-2 deco" style="width:20%;">
			<h4>帮助</h4>
			<li><a href="#">联系我们</a></li>
			<li><a href="#">常见问题与解答</a></li>
			<li><a href="#">隐私政策</a></li>
			<li><a href="#">服务条款</a></li>
		</div>
		<div class="col-md-2 deco" style="width:20%;">
			<h4>附近</h4>
			<li><a href="#">附近酒店</a></li>
			<li><a href="#">约车</a></li>
			<li><a href="#">饮食服务</a></li>
		</div>
		<div class="col-md-2 deco" style="width:20%;">
			<h4>目的地</h4>
			<li><a href="#">国家/地区</a></li>
			<li><a href="#">热门城市</a></li>
		</div>
		<div class="col-md-2 deco" style="width:20%;">
			<h4>商业合作</h4>
			<li><a href="#">酒店加盟</a></li>
			<li><a href="#">联合营销</a></li>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
		<p>Copyright &copy; 2019.Company name All rights reserved.More Templates </p>
	</div>
</div>
<!-- footer -->
</body>
<!--script-->
<script th:inline="javascript">
	//点击头像或昵称弹出个人信息框
	function showInfoCard(){
		$(document.getElementById("hide")).css("display","block");
	}
	function showOrHideMap() {
		if(document.getElementById("allmap").style.display == "none") {
			document.getElementById("allmap").style.display = "block";
			$("#allmapButton").html("收起地图");
		}else {
			document.getElementById("allmap").style.display = "none";
			$("#allmapButton").html("展开地图");
		}
	}
	function mapFollow(follower) {
		if(!follower.checked) {
			var map = $("#map");
			if($(window).scrollTop()>90){
				map.css('width','');
				map.css('position','');
				map.css('z-index','');
				map.css('top','');
			}
		}

	}
	//点击document隐藏div
	$(document).click(function () {
		$(document.getElementById("hide")).css("display","none");
	})
	//点击div不隐藏div
	$("#hide").click(function(event) {
		event.stopPropagation(); //阻止事件向上冒泡
	});
	var data = [[${hotels}]];
	var map = new BMap.Map("allmap");
	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl(
			{anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮
	var opts = {
		width : 150,     // 信息窗口宽度
		height: 150,     // 信息窗口高度
		title : "酒店信息" , // 信息窗口标题
		enableMessage:true,//设置允许信息窗发送短息
	}
	var markerHolder=[];
	var topIndex={topIndex:0};
	var bottomIndex={bottomIndex:0};
	map.addControl(top_left_control);
	map.addControl(top_left_navigation);
	map.centerAndZoom(new BMap.Point(116.331398,39.897445),11);
	map.enableScrollWheelZoom(true);
	map.clearOverlays();
	showMarkers(map,markerHolder,data);
	setBPoint(data,topIndex,bottomIndex,true);
	var windowScroll = $(window).scrollTop();
	$(window).scroll(function () {
		var searchBar = $("#searchBar");
		var map = $("#map");
		var follower = $("#mapFollower");

		if($(window).scrollTop()>90) {
			searchBar.css('position','fixed');
			searchBar.css('z-index','10');
			searchBar.css('top','0');
			if(follower.prop("checked")) {
				map.css('position','fixed');
				map.css('z-index','10');
				map.css('top','60px');
				map.css('width','25%');
			}
		}else {
			searchBar.css('position','');
			searchBar.css('z-index','');
			searchBar.css('top','');
			map.css('width','');
			map.css('position','');
			map.css('z-index','');
			map.css('top','');
		}
		setBPoint(data,topIndex,bottomIndex,($(this).scrollTop()>windowScroll));
		windowScroll = $(this).scrollTop();
	})
</script>
</html>