<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <title>我的订单</title>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/public/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/detail/detail.css" rel='stylesheet' type='text/css'/>
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <script src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <style>
        .orderSearch{
            float:left;
            margin-left: 30px;
        }
        .form-control-s {
            height: 41px;
            min-width: 100px;
            max-width: 200px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        }
    </style>
</head>
<body style="height: 100%">
<script>
    $(function () {
        $(".datepicker").datepicker({
            autoclose:true,
            orientation:"top",
            todayHighlight:"true"
        })
    })
</script>
<!-- banner -->
<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="/welcome/">Hotel</a></h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #92b8b1;" ><a href="/welcome/">首页</a></li>
                        <li><a href="/searchmap/">地图查询</a></li>
                        <li><a href="offers.html">待定</a></li>
                        <li><a href="shortcodes.html">待定</a></li>
                        <li><a href="/login/">登录</a></li>
                        <li><a href="contact.html">待定</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div style="display:flex;flex-direction:row;justify-content: center;background-color: #bcddff;height:61px;">

<form action="" style="margin-top: 10px;">
    <div class="orderSearch">
    <span>酒店名称：<input  autocomplete="off" value="" class="form-control-s" name="orderHotelName"></span>
    </div>
    <div class=" orderSearch">
        <div style="float:left;">
        <span>预定日期：<input autocomplete="off" value="" class="form-control-s datepicker" name="checkInTime"></span>
        </div>
        <div style="float:left;">
        <span>至<input autocomplete="off" value="" class="form-control-s datepicker" name="checkOutTime"></span>
        </div>
    </div>
    <div class="orderSearch">
        <span>订单状态：
        <select name="orderStatus" class="form-control-s" style="width: 40%;height: 34px;">
            <option value="0">全部</option>
            <option value="1">未支付</option>
            <option value="2">已完成</option>
            <option value="3">已过期</option>
            <option value="4">已取消</option>
        </select>
        </span>
    </div>
    <div class="orderSearch">
        <input  type="submit" style=" border:none;background-color:#fff;height:38px; width: 80px;border-radius: 4px;" value="查询">
    </div>
</form>
<br/>
</div>
<div>
<table class="table table-hover" align="center" style="width:80%;">
    <tr>
        <td style="white-space: nowrap;">订单编号</td>
        <td style="white-space: nowrap;">创建日期</td>
        <td style="white-space: nowrap;">酒店名称</td>
        <td style="white-space: nowrap;">房型</td>
        <td style="white-space: nowrap;">房间号</td>
        <td style="white-space: nowrap;">房间数</td>
        <td style="white-space: nowrap;">客户姓名</td>
        <td style="white-space: nowrap;">入住时间</td>
        <td style="white-space: nowrap;">总金额</td>
        <td style="white-space: nowrap;">状态</td>
    </tr>
    <tr th:each="orderListInfo:${orderListInfos}">
        <td th:title="${orderListInfo.orderList.orderId}"><p style="overflow: hidden;display:block;
         text-overflow: ellipsis; white-space: nowrap; cursor:pointer; max-width: 150px" th:text="${orderListInfo.orderList.orderId}"></p></td>
        <td th:text="${orderListInfo.createTime}" style="white-space: nowrap;"></td>
        <td th:text="${orderListInfo.hotelChineseName}" style="white-space: nowrap;"></td>
        <td th:text="${orderListInfo.roomName}" style="white-space: nowrap;"></td>
        <td th:text="${orderListInfo.orderList.roomNo}" style="white-space: nowrap;"></td>
        <td th:text="${orderListInfo.orderList.roomNumber}" style="white-space: nowrap;"></td>
        <td th:text="${orderListInfo.orderList.name}" style="white-space: nowrap;"></td>
        <td>
            <p th:text="${orderListInfo.checkInTime}" style="white-space: nowrap;"></p>
            <p th:text="${orderListInfo.checkOutTime}" style="white-space: nowrap;"></p>
        </td>
        <td th:text="${orderListInfo.orderList.price}" style="white-space: nowrap;"></td>
        <td>
            <div th:if="${orderListInfo.orderList.status}==1" style="white-space: nowrap;">未支付</div>
            <div th:if="${orderListInfo.orderList.status}==2" style="white-space: nowrap;">已支付</div>
            <div th:if="${orderListInfo.orderList.status}==3" style="white-space: nowrap;">已过期</div>
            <div th:if="${orderListInfo.orderList.status}==4" style="white-space: nowrap;">已取消</div>
        </td>
        <td>
            <div th:if="${orderListInfo.orderList.status}==1">
                <a class="btn" style="background-color: #bcddff;color:#fff;"
                   data-th-attr="onclick='unOrder(this, \''+${orderListInfo.orderList.orderId}+'\')'">取消</a>
            </div>
            <div th:if="${orderListInfo.orderList.status}==2">
                <a class="btn" style="background-color: #bcddff;color:#fff;"
                   data-th-attr="onclick='unOrder(this, \''+${orderListInfo.orderList.orderId}+'\')'">退订</a>
            </div>
            <div th:if="${orderListInfo.orderList.status}==3">
                <a class="btn" style="background-color: red;color:#fff;"
                   data-th-attr="onclick='deleteOrder(this, \''+${orderListInfo.orderList.orderId}+'\')'">删除</a>
            </div>
            <div th:if="${orderListInfo.orderList.status}==4">
                <a class="btn" style="background-color: red;color:#fff;"
                   data-th-attr="onclick='deleteOrder(this, \''+${orderListInfo.orderList.orderId}+'\')'">删除</a>
            </div>
        </td>
    </tr>
</table>
</div>
<div th:if="${orderListInfos.size()}!=0">
    <div style="height: 90px;"></div>
</div>
<div align="center" th:if="${orderListInfos.size()}==0">
    <img align="center" src="/public/images/noorder.png">
</div>
<!-- footer -->
<div class="footer">
    <div class="container" >
        <div class="col-md-2 deco" style="width:20%;">
            <h4>导航</h4>
            <li><a href="/welcome/">首页</a></li>
            <li><a href="/register/">注册</a></li>
            <li><a href="/myorder/">订单查询</a></li>
            <li><a href="contact.html">待定</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>帮助</h4>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">常见问题与解答</a></li>
            <li><a href="#">隐私政策</a></li>
            <li><a href="#">服务条款</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>附近</h4>
            <li><a href="#">附近酒店</a></li>
            <li><a href="#">约车</a></li>
            <li><a href="#">饮食服务</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>目的地</h4>
            <li><a href="#">国家/地区</a></li>
            <li><a href="#">热门城市</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>商业合作</h4>
            <li><a href="#">酒店加盟</a></li>
            <li><a href="#">联合营销</a></li>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer-bottom" >
    <div class="container">
        <p>Copyright &copy; 2019.Company name All rights reserved.More Templates </p>
    </div>
</div>
<!-- footer -->
</body>
<script>
    function deleteOrder(elem, id) {
        $.ajax({
            url: '/myorder/delete?orderId=' + id,
            type: 'get',
            success: function (data) {
                $(elem).parent().parent().parent().remove();
                location.reload();
            },
            fail: function (data) {
                console.log('fail')
            }
        })
    }
    function unOrder(elem,id) {
        $.ajax({
            url: '/myorder/unorder?orderId=' + id,
            type: 'put',
            success: function (elem,data) {
                location.reload();
            },
            fail: function (data) {
                console.log('fail')
            }
        })
    }
</script>
</html>