 <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单管理</title>
</head>
<body>
<form action="/MOrderlist/add" method="post" th:object="${orderList}">

    <input type="hidden" name="orderId" th:field="*{orderId}"><br/>
    客户id：<input type="number" name="id" th:field="*{id}"><br/>
    酒店id：<input type="text" name="hotelId" th:field="*{hotelId}"h><br/>
    房间id：<input type="text" name="roomId" th:field="*{roomId}"><br/>
    客户身份证号：<input type="text" name="identify" th:field="*{identify}"><br/>
    客户姓名：<input type="text" name="name" th:field="*{name}"><br/>
    客户入住时间：<input type="text" name="checkIn" th:field="*{checkIn}"><br/>
    客户退房时间：<input type="text" name="checkOut" th:field="*{checkOut}"><br/>
    表单生成时间：<input type="text" name="registerTime" th:field="*{registerTime}"><br/>
    表单总价：<input type="text" name="price" th:field="*{price}"><br/>
    联系电话：<input type="text" name="connectPhone" th:field="*{connectPhone}"><br/>
    订单状态：<input type="text" name="status" th:field="*{status}"><br/>
    预定房间数：<input type="text" name="roomNumber" th:field="*{roomNumber}"><br/>
    支付流水号：<input type="text" name="serialNumber" th:field="*{serialNumber}"><br/>
    房间号：<input type="text" name="roomNo" th:field="*{roomNumber}"><br/>
    <div class="box-footer">
        <input type="submit" value="提交" class="pull-left">
        <button type="button"   onclick="cancel()">取消</button>
    </div>
</form>
</body>
</html>



 <script>
     function cancel(){
         window.location.href = "/MOrderlist";
     }
 </script>