<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=
PFgBspYSe1HEwdM7pd8z0jEA1gG1pYG5"></script>
    <title>城市名定位</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/public/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <style>
        .tab-chapter{
            width: 800px;
        }
        .largetext{
            font-size: 20px;
            color: #a1a1a1;
        }
        #allmap{
            float:left; width:60%; height:320px;
        }

    </style>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    var hotel = [[${hotels}]];
    console.info(hotel);
</script>

    <div >
        <div id="allmap" ></div>
        <div class="banner-info">
            <div class="details-1">
                <div>
                    <div class="col-md-10 dropdown-buttons">
                        <div class="col-md-3 dropdown-button">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control has-dark-background"
                                       name="hotelname" id="hotelname" placeholder="酒店名称：" type="text" required="">
                            </div>
                        </div>
                        <link rel="stylesheet" href="/public/css/jquery-ui.small.css" />
                        <script src="/public/js/jquery-ui.js"></script>
                        <script>
                            $(function() {
                                $( "#checkindate,#checkoutdate" ).datepicker();
                            });
                        </script>
                        <div class="col-md-3 dropdown-button">
                            <div class="book_date">
                                <input class="date" readonly="readonly" autocomplete="off" id="checkindate"
                                       name="checkindate" type="text" value="Check In" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Check In';}">
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-button">
                            <div class="book_date">
                                <input class="date1" readonly="readonly" autocomplete="off" id="checkoutdate" name="checkoutdate" type="text" value="Check Out" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Check Out';}">
                            </div>
                        </div>
                        <div class="col-md-3 dropdown-button">
                            <select id="starlevel" name="starlevel"  class="frm-field required">
                                <option value="1">星级</option>
                                <option value="2">5星</option>
                                <option value="3">4星</option>
                                <option value="4">3星</option>
                                <option value="5">2星</option>
                                <option value="6">1星</option>
                                <option value="0">无星级</option>
                            </select>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-2 submit_button">
                        <input  type="submit" value="查询" onclick="submitClicked()">
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
<a href="/circlesearch/"><input type="button" value="周边2Km查询" /></a>
<div class="footer">
    <div class="container">
        <div class="col-md-2 deco" style="width:20%;">
            <h4>导航</h4>
            <li><a href="w">首页</a></li>
            <li><a href="/register/">注册</a></li>
            <li><a href="/myorder/">订单查询</a></li>
            <li><a href="contact.html">待定</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>帮助</h4>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">常见问题与解答</a></li>
            <li><a href="#">隐私政策</a></li>
            <li><a href="#">服务条款</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>附近</h4>
            <li><a href="#">附近酒店</a></li>
            <li><a href="#">约车</a></li>
            <li><a href="#">饮食服务</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>目的地</h4>
            <li><a href="#">国家/地区</a></li>
            <li><a href="#">热门城市</a></li>
        </div>
        <div class="col-md-2 deco" style="width:20%;">
            <h4>商业合作</h4>
            <li><a href="#">酒店加盟</a></li>
            <li><a href="#">联合营销</a></li>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<table id="demo" style="display:none" class="table-hover" align="center">
    <tr th:each="hotel : ${hotels}">
        <td class="tab-chapter" style="display:flex;flex-direction:row;justify-content: center;">
            <div style="max-width: 500px;" >
                <img src="/public/images/mbimage/14.jpg" class="img-responsive"
                     style="width: 100%;" alt="">
                <br/>
            </div>
        </td>
        <td class="tab-chapter">
            <div style="max-width: 500px;">
                <h2 th:text="${hotel.hotelChineseName}"></h2><br/>
                <span class="largetext">地址：</span><span class="largetext" th:text="${hotel.hotelAddress}"></span><br/>
                <span class="largetext">星级:<img src="/public/images/star.png" style="height: 20px; width: 20px;"></span><br/>
                <span class="largetext">联系方式：</span><span class="largetext" th:text="${hotel.hotelContact}"></span><br/>
                <br/><a class="hvr-shutter-in-horizontal" href="/welcome/details">预订</a>
            </div>
        </td>
    </tr>
</table>

</body>
</html>
<script type="text/javascript" >
    // 百度地图API功能
    var MapData = null;
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(116.331398,39.897445),11);
    map.enableScrollWheelZoom(true);
    var opts = {
        width : 200,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : "酒店信息" , // 信息窗口标题
        enableMessage:true,//设置允许信息窗发送短息
    }
    // 用经纬度设置地图中心点
    function theLocation(){
        Url="/searchmap/map.json?"
            +"hotelname="+$("#hotelname").val();
            $.ajax({
                url:Url,
                type:"post",
                success:function(data) {
                    console.info(data);
                    MapData = data;
                    map.clearOverlays();
                    for( let i = 0 ; i < data.length ; i ++ ) {
                        var new_point = new BMap.Point( data[i].hotelLongitude,
                            data[i].hotelLatitude);
                        var marker = new BMap.Marker(new_point);  // 创建标注
                        var content = "酒店名："+ data[i].hotelChineseName + "<br>地址：" +data[i].hotelAddress
                            +"<br>描述:" +data[i].hotelProfile;
                        map.addOverlay(marker);              // 将标注添加到地图中

                        map.panTo(new_point);
                        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画


                        marker.addEventListener("click",
                            function(e){
                                var p = e.target;
                                var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                                var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
                                map.openInfoWindow(infoWindow,point); //开启信息窗口

                            });
                    }
                }
            })
    }
    function showAG(ag){
        document.getElementById("pa").innerHTML=ag;
    }
    function submitClicked() {
        theLocation();
        $("#demo").css("display",'block');
    }
</script>
