<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <style>
        li{list-style: none;
        margin-top: 30px;
        margin-left: 100px;}
    </style>
</head>
<body>
<div style="display: flex;flex-direction: row;justify-content: center;margin-top: 100px;">
    <div class="col-md-2" style="border: 2px solid #00CCFF;line-height: 50px;">
        <div>
            <a href = "/welcome/" >
                <span>首页</span>
            </a>
        </div>
        <div>
            <a href = "/myorder/">
                <span>我的订单</span>
            </a>
        </div>
        <div>
            <a href = "#">
                <span>钱包</span>
            </a>
        </div>
        <div>
            <a href = "#">
                <span>我的收藏</span>
            </a>
        </div>
    </div>
    <div class="col-md-5" style="border: 2px solid #00CCFF;height: 650px;">
        <li class="">
            <img class="img-circle" style="height: 200px;width:200px" src="/Path/523.jpg">
        </li>
        <li class="" >
            <label class="">昵称</label>
            <span th:text="${userInfo.get(0).nickName}"></span>
        </li>
        <li class="" >
            <label class="">姓名</label>
            <span th:text="${userInfo.get(0).name}"></span>
        </li>
        <li class="" >
            <label class="">身份证号</label>
            <span th:text="${userInfo.get(0).personId}"></span>
        </li>
        <li class="" >
            <label class="">手机</label>
            <span th:text="${userInfo.get(0).telephone}"></span>
            <a class="" href = "#" target="_self">修改</a>
        </li>
        <li class="" >
            <label class="">邮箱</label>
            <span th:text="${userInfo.get(0).email}"></span>
            <a class="" href = "#" target="_self">修改</a>
        </li>
        <li>
            <button>编辑</button>
        </li>
    </div>
</div>
</body>
</html>