<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link href="/public/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="/public/css/IndexStyle.css"  rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/public/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/public/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <style>
        li{list-style: none;}
    </style>
</head>
<body>
<div class="header" style="max-height: 90px;background-color: #6568ff;">
    <div class="container" style="display: flex;flex-direction: row;justify-content: center;min-width: 1200px;">
        <div class="logo" >
            <h1><a href="/welcome/">Hotel</a></h1>
        </div>
        <nav class="navbar navbar-default" role="navigation"  style="max-width: 600px;max-height: 66px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--/.navbar-header-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #6568ff;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/welcome/">首页</a></li>
                    <li><a href="/searchmap/">地图查询</a></li>
                    <li><a href="/myorder/">订单查询</a></li>
                    <li><a href="shortcodes.html">待定</a></li>
                    <li><a href="/login/">登录</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <div class="clearfix"> </div>
        <div class="infoList" >
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu" onclick ="showInfoCard()">
                <a  class="dropdown-toggle" data-toggle="dropdown">
                    <img th:src="${userInfo.get(0).icon}" class="user-image img-circle" alt="User Image" style="height: 50px;width: 50px;">
                    <span class="hidden-xs" style="color: #fff" th:text="${userInfo.get(0).nickName}"></span>
                </a>
            </li>
        </div>
    </div>
</div>
<div id="hid" style="display: none;position: absolute;z-index: 100;margin-left: 72%;
    background-color: #fff;width: 200px;height:286px;">
    <div align="center">
        <div>
            <img th:src="${userInfo.get(0).icon}" class="user-image img-circle" alt="User Image" style="height: 100px;width: 100px;">
            <p style="margin-top: 10px;font-size: 16px;" th:text="${userInfo.get(0).nickName}"></p>
        </div>
        <div style="margin-top:20px;line-height: 40px;font-size: 16px;border-top: 2px solid #ccc;">
            <a href="/userinfo/">修改信息</a>
        </div>
        <div style="line-height: 40px;font-size: 16px;border-top: 2px solid #ccc;">
            <a href="/myorder/">我的订单</a>
        </div>
        <div style="line-height: 40px;font-size: 16px;border-top: 2px solid #ccc;">
            <a href="#">退出</a>
        </div>
    </div>
</div>
<div style="display: flex;flex-direction: row;justify-content: center;margin-top: 10px;">
    <div class="col-lg-1" style="background-color: #F7F5F5;border-top: 2px solid #00CCFF;margin-right: 20px;
    border-bottom: 2px solid #00CCFF;line-height: 50px;padding:0;">
        <div class="infoActive" style="border-bottom: 1px solid #ccc;padding-left: 10px;">
            <a href = "/userinfo/" >
                <span class="infoSpan">我的信息</span>
            </a>
        </div>
        <div style="border-bottom: 1px solid #ccc; padding-left: 10px;">
            <a href = "/myorder/">
                <span class="infoSpan">我的订单</span>
            </a>
        </div>
        <div style="border-bottom: 1px solid #ccc;padding-left: 10px;">
            <a href = "#">
                <span class="infoSpan">钱包</span>
            </a>
        </div>
        <div style="border-bottom: 1px solid #ccc;padding-left: 10px;">
            <a href = "#">
                <span class="infoSpan">我的收藏</span>
            </a>
        </div>
        <div style="border-bottom: 1px solid #ccc;padding-left: 10px;">
            <a href = "/safecenter/">
                <span class="infoSpan">账户安全</span>
            </a>
        </div>
        <div style="border-bottom: 1px solid #ccc;padding-left: 10px;">
            <a href = "#">
                <span class="infoSpan">电子发票</span>
            </a>
        </div>
        <div style="padding-left: 10px;">
            <a href = "#">
                <span class="infoSpan">帮助</span>
            </a>
        </div>
    </div>
    <div id="information" class="col-md-7" style="padding:0px;border-top: 2px solid #00CCFF;height: 650px;">
        <div style="background-color: #DCFCFF; width:100%;height: 40px;border-bottom: 1px solid #A0EEFF;
            display: flex;flex-direction: column;justify-content: center;">
            <span style="font-size: 18px;">个人信息设置</span>
        </div>
        <div style="border-bottom:1px solid #ccc;width:100%;height: 90%;">
            <li class="infoLi">
                <img class="img-circle" style="height: 200px;width:200px" th:src="${userInfo.get(0).icon}">
            </li>
            <li class="infoLi" >
                <label class="infoLabel">昵称</label>
                <span th:text="${userInfo.get(0).nickName}" class="infoSpan"></span>
            </li>
            <li class="infoLi" >
                <label class="infoLabel">姓名</label>
                <span th:text="${userInfo.get(0).name}" class="infoSpan"></span>
            </li>
            <li class="infoLi" >
                <label class="infoLabel">身份证号</label>
                <span th:text="${userInfo.get(0).personId}" class="infoSpan"></span>
            </li>
            <li class="infoLi" >
                <label class="infoLabel">手机</label>
                <span th:text="${userInfo.get(0).telephone}" class="infoSpan"></span>
                <span th:if="${userInfo.get(0).telephone}==null" class="infoSpan">未设置</span>
                <a th:if="${userInfo.get(0).telephone}!=null" href = "#" target="_self">修改</a>
                <a th:if="${userInfo.get(0).telephone}==null" href = "#" target="_self">验证</a>
            </li>
            <li class="infoLi" >
                <label class="infoLabel">邮箱</label>
                <span th:text="${userInfo.get(0).email}" class="infoSpan"></span>
                <span th:if="${userInfo.get(0).email}==null" class="infoSpan">未设置</span>
                <a th:if="${userInfo.get(0).email}!=null" href = "#" target="_self">修改</a>
                <a th:if="${userInfo.get(0).email}==null" href = "#" target="_self">验证</a>
            </li>
            <li class="infoLi">
                <button onclick="showEdit()">编辑</button>
            </li>
        </div>
    </div>
    <div id="edit" class="col-md-7" style="border-top: 2px solid #00CCFF;height: 650px;display: none;padding:0;">
        <div style="background-color: #DCFCFF; width:100%;height: 40px;border-bottom: 1px solid #A0EEFF;
            display: flex;flex-direction: column;justify-content: center;">
            <span style="font-size: 18px;">个人信息设置</span>
        </div>
        <form action="" method="post" style="border-bottom:1px solid #ccc;width:100%;height: 90%;">
            <li class="infoLi">
                <div id="fileImgs1">
                    <input type="file"  name="icon" onmouseover="showthis()" onmouseout="hidethis()">
                    <img class="img-circle" style="height: 200px;width:200px;position: relative;" th:src="${userInfo.get(0).icon}">
                    <img id="iconEdit" class="img-circle" style="display:none;height: 200px;width:200px;position:absolute;z-index:10;left:200px;"
                         src="/public/images/iconEdit.png" >
                </div>
            </li>
            <li class="infoLi" style="display: flex;flex-direction: row;">
                <label class="infoLabel">昵称</label>
                <input class="form-control" style="width:200px;" name="nickName" >
            </li>
            <li class="infoLi" style="display: flex;flex-direction: row;">
                <label class="infoLabel">姓名</label>
                <input class="form-control" style="width:200px;" name="realName">
            </li>
            <li class="infoLi" style="display: flex;flex-direction: row;">
                <label class="infoLabel">身份证号</label>
                <input class="form-control" style="width:200px;" name="personId">
            </li>
            <li class="infoLi" >
                <label class="infoLabel">手机</label>
                <span th:text="${userInfo.get(0).telephone}" class="infoSpan"></span>
                <span th:if="${userInfo.get(0).telephone}==null" class="infoSpan">未设置</span>
                <a th:if="${userInfo.get(0).telephone}!=null" href = "#" target="_self">修改</a>
                <a th:if="${userInfo.get(0).telephone}==null" href = "#" target="_self">验证</a>
            </li>
            <li class="infoLi">
                <label class="infoLabel">邮箱</label>
                <span th:text="${userInfo.get(0).email}" class="infoSpan"></span>
                <span th:if="${userInfo.get(0).email}==null" class="infoSpan">未设置</span>
                <a th:if="${userInfo.get(0).email}!=null" href = "#" target="_self">修改</a>
                <a th:if="${userInfo.get(0).email}==null" href = "#" target="_self">验证</a>
            </li>
            <li class="infoLi">
                <input class="btn" type="submit" value="保存">
            </li>
        </form>
    </div>
</div>
</body>
<script>
    function showEdit(){
        $("#information").css('display','none');
        $("#edit").css('display','');
    }
    $(function() {
        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        //获取点击的图片元素
        var cdimg  = $('#fileImgs1').children('img');
        //获取上传图片的 input 标签元素
        var cdfile = $('#fileImgs1').children('input[type="file"]');
        //设置input 大小和图片一致
        cdfile.css({'width':cdimg.css('width'),'height':cdimg.css('height')});
        //input透明度为0,定位，优先级比图片高
        cdfile.css({'opacity':0,'position':'absolute','z-index':11});
        //判断input的图片文件改变则img的图片也替换为input选择的图片
        cdfile.change(function() {
            if (this.files && this.files[0]) {
                var objUrl = getObjectURL(this.files[0]);
                if (objUrl) {
                    $(this).siblings('img').attr("src", objUrl);
                }
            }
        });
    })
    function showthis() {
        $("#iconEdit").css('display','')
    }
    function hidethis() {
        $("#iconEdit").css('display','none')
    }
    //点击头像或昵称弹出个人信息框
    function showInfoCard(){
        $(document.getElementById("hid")).css("display","block");
    }

    //点击document隐藏div
    $(document).click(function () {
        $(document.getElementById("hid")).css("display","none");
    })
    //点击div不隐藏div
    $("#hid").click(function(event) {
        event.stopPropagation(); //阻止事件向上冒泡
    });
</script>
</html>